@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: 100px;
    padding-top: 20px;
    z-index: 1;
}

ul {
    height: 25px;
    /* margin-top: -20px;
    background-color: #000; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    z-index: 10;
}


.img-topo{
    height: 25px;
}

video {
    width: 100%;
    height: auto;
}

.capa{
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 35%;
    z-index: 3;
}

.capa-titulo{
    color: #fff;
    font-size: 80px;
    margin-bottom: 5px;
    font-weight: bold;
}

.capa-descricao{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.link-assistir{
    background-color: #fff;
    color:#000;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

.link-info {
    color:#000;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.imagem-carrossel{
    width: 100%;
    height: auto;
}

#carouselExampleControls{
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.titulo-carrossel{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.botao-som{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 100px;
    right: 20px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 5;
    left:0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-conteudo{
    background-color: #181818;
    margin: 30px auto;
    padding: 20px;
    width: 60%;
    color: white;
}